<section class="answers">
    <div class="container">
        <div class="pre-title-block">
            <p class="pre-title-text">Результат прохождения теста</p>
            <img src="/images/arrow-small.png" alt="Стрелка">
            <p class="pre-title-description" id="pre-title-description">Тест №1. “JavaScript: Начальный уровень”</p>
        </div>

        <h1><span>Правильные ответы</span> к тесту</h1>

        <div id="test-info-person"></div>

        <div class="answers-options-block" id="answers-options-block"></div>

        <a href="/#/result" id="link-back">
            <p>Обратно к моему результату теста</p>
            <img src="images/arrow-small-blue.png" alt="Стрелка">
        </a>
    </div>
</section>