body {
    margin: 0;
    font-family: "Museo Sans Cyrl", sans-serif;
    color: #333;
}

a {
    color: #6933dc;
}

@font-face {
    src: url("/fonts/ofont.ru_Museo Sans Cyrl 500.ttf");
    font-family: "Museo Sans Cyrl";
}

@font-face {
    src: url("/fonts/ofont.ru_Museo Sans Cyrl 700.ttf");
    font-family: "Museo Sans Cyrl Bold";
}

.header {
    padding: 40px 0;
    border-bottom: 1px solid #dcdcf3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    padding: 14px 35px;
    line-height: 20px;
    font-size: 17px;
    color: #fff;
    background: #6933dc;
}
a.button {
    display: inline-block;
    text-decoration: none;
}

.button:hover {
    transition: 0.4s;
    background: #32098a;
}

.button:disabled {
    background-color: #e2dfe7;
    cursor: not-allowed;
}

.button-transparent {
    background: transparent;
    color: #6933dc;
    border: 1px solid #6933dc;
}

.button-transparent:hover {
    background: #6933dc;
    color: white;
}

.button-transparent:disabled {
    background: transparent;
    color: #e2dfe7;
    border: 1px solid #e2dfe7;
}

.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    line-height: 16px;
    color: #dcdcf3;
}

.common-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 48px;
    line-height: 58px;
}

.common-title span {
    color: #6933dc;
}

.big-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    line-height: 65px;
    font-size: 54px;
}

.big-title span {
    color: #6933dc;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-image {
    margin-right: 5px;
}

.profile-user {
    font-size: 18px;
    line-height: 18px;
}

.profile-logout {
    font-size: 12px;
    line-height: 12px;
}